

/* content */
/* Ý tưởng sử dụng grid để chia content thành 2 cột gồm content_left và content_right*/
.content {
    position: relative;
    top: 8rem;
    width: 1250px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 22% 78%;
}
/* Trong content_left_category của content left cũng sử dụng grid để chia thành các dòng 6 */
.content_left_category {
    display: grid;
    grid-template-rows: repeat(6,15%);
    padding: 10px;
    height: 250px;
}
.content_left_category_header {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid rgb(71, 69, 69);
    color: black;

}
.content_left_category a {
    text-decoration: none
}

.content_left_category_main {
    width: 200px;
    height: 28px;
    font-size: 16px;
    padding: 10px;
    color: rgb(0, 0, 0);
}
.content_left_category_main_active {
    width: 200px;
    height: 28px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    padding-left: 0;
    color: rgb(255, 51, 0);
}
/* content right chia bằng grid gồm content_right_category_item và content_right_group_item chia thành 5 cột */
/* category of item */
.content_right_category_item {
    background-color: rgb(237, 230, 230);;
    width: 1000px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(5,12%);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.content_right_category_item p {
    padding-top: 10px;
    padding-bottom: 17px;
    padding-right: 10px;
}
.content_right_category_item button {
    border: 1px solid rgb(252, 247, 247);
    width: 110px;
    height: 40px;
    background-color: rgb(252, 247, 247);
    border-radius: 6%;
}
.content_right_category_item a {
    text-decoration: none;
    color: black;
}
.content_right_category_item_button_a button {
    background-color: rgb(255, 51, 0);
}

#select {
    width: 165px;
    height: 40px;
    margin-left: 2px;
}

/* group item */
.content_right_group_item {
    width: 1000px;
    display: grid;
    grid-row: 30% 70%;
    grid-template-columns: repeat(5, 198px);
    padding-top: 10px;
    
}
/* item */

.content_right_item {
    width: 188px;
    height: 338px;
    border-bottom: 2px solid rgb(212, 211, 211);
    border-right: 2px solid rgb(212, 211, 211);
    background-color: rgb(228, 226, 226);
}

/* header of item */
.content_right_item_header_img {
    width: 188px;
    height: 188px;
}
/* content_right_item_header's sumbit */
.submit {
    margin-top: -100px;
    margin-bottom: 70px;
    margin-left: 50px;
    visibility: hidden;
}
.submit button {
    height: 25px;
    background-color: rgb(255, 51, 0);
    border: 1px solid rgb(255, 51, 0);
    padding: 5px;
    color: white;
}
.submit a {
    color: white;
}
/* content_right_item_information */
.content_right_item_information {
    width: 172px;
    font-size: 18px;
    padding-top: 10px;
    margin-left: 10px;
}
/* content_right_item_information's name */ 
.name {
    width: 172px;
    height: 40px;
    font-size: 15px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
/* content_right_item_information's price */
.price {
    font-size: 15px;
    margin-top: 5px;
}
.price span {
    color: rgb(255, 51, 0);
}
.price del {
    color: rgb(99, 99, 99);
}
/* content_right_item_information's racting */
.racting {
    width: 172px;
    height: 28px;
    font-size: 14px;
    padding-top: 10px;
}
.racting span {
    color: rgb(225, 4, 4);
    font-size: 12px;
    padding-right: 10px;
}
/* content_right_item_information's sale */
.sale {
    margin-top: -30px;
    clip-path: polygon(0 28%, 79% 28%, 85% 50%, 79% 72%, 0 72%);
    background-color: red;
    color: white;
    font-size: 1rem;
    padding: 10px 10px;
    max-width: 60px;
}
/* hover content_right_item_information */
.content_right_item:hover {
    border: 1px solid rgb(255, 51, 0) ;
}
.content_right_item:hover .content_right_item_header_img{
    opacity: 0.2;
}

.content_right_item:hover .sale{
    opacity: 0.2;
}

.content_right_item:hover .submit button{
    
    visibility: visible;
    
}
.content_right_item:hover .content_right_item_information {
    opacity: 0.5;
}

/* content_right_page_controller */
.content_right_page_controller {
    display: grid;
    grid-template-columns: repeat(5, 10%);
    width: 600px;
    height: 40px;
    margin-left: 400px;
    margin-right: 300px;
    margin-top: 20px;
}
.content_right_page_controller button {
    width: 40px;
    height: 35px;
    border: 0px;
}
.content_right_page_controller_button_page button {
    background-color: rgb(255, 51, 0) ;
    border: 1px solid rgb(255, 51, 0);
    border-radius: 15%;
}

