
/* content */
#content {
    position: relative;
    top: 10rem;
    width: 900px;
    margin: auto;
    line-height: 50px;
    text-align: left;
    margin-left: 200px;
    font-size: 25px;
}
#content h2 {
    color: rgb(237, 29, 29);
    font-weight: 800;
    text-transform:uppercase;
    font-size: 30px;
}


#content li {
    margin-left: 50px;
}
#button {
    width: 300px;
    height: 70px;
    text-align: center;
    background-color: rgb(237, 102, 29);
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 400px;
    border-radius: 28px;
}
/* footer */
#footer{
    background-color: red;
    color: white;
    position: relative;
    top: 25rem;
}
.footer-follow-us{
 height: 60px;
 font-size: 1.2rem;
 padding: 20px 152px;
}
.footer-follow-us-content{
    float: left;
}
.footer-follow-us-logo {
   float: right;
   padding: 0px ;
}
.footer-follow-us-logo .fa-brands{
    color: white;
}
.footer-content{
    display: flex;
    justify-content: center;
    background-color: rgb(149, 0, 0);
}
.footer-content div{
    padding: 41px
}
.footer-content-all li{
    padding: 7px 0px 0px 0px;
    list-style-type: none;
}
.footer-content-all a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
.footer-content-all p:first-child{
    font-size: 1.2rem;
    font-weight: bold;
}
.footer-copyright{
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


