
/*--------------------------------------- group item --------------------------------------------*/
/* group item */
.content_right_group_item {
    display: grid;
    grid-row: 30% 70%;
    grid-template-columns: repeat(6, 198px);
    padding-top: 10px;
    
}
/* item */

.content_right_item {
    width: 188px;
    height: 240px;
    border-bottom: 2px solid rgb(212, 211, 211);
    border-right: 2px solid rgb(212, 211, 211);
    background-color: rgb(228, 226, 226);
    margin-top: 20px;
}

/* header of item */
.content_right_item_header_img {
    width: 188px;
    height: 188px;
}
/* content_right_item_header's sumbit */
.submit {
    margin-top: -100px;
    margin-bottom: 70px;
    margin-left: 50px;
    visibility: hidden;
}
.submit button {
    height: 25px;
    background-color: rgb(255, 51, 0);
    border: 1px solid rgb(255, 51, 0);
    padding: 5px;
    color: white;
}

/* content_right_item_information */
.content_right_item_information {
    width: 172px;
    font-size: 18px;
    padding-top: 10px;
    margin-left: 10px;
}
/* content_right_item_information's name */ 
.name {
    width: 160px;
    height: 40px;
    font-size: 15px;
    overflow: hidden;
    display: block;
    
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn nội dung vượt quá kích thước của phần tử */
     text-overflow: ellipsis;
}
/* content_right_item_information's price */
.price {
    font-size: 15px;
    margin-top: 5px;
}
.price span {
    color: rgb(255, 51, 0);
}
.price del {
    color: rgb(99, 99, 99);
}

/* content_right_item_information's sale */
.sale {
    margin-top: -30px;
    clip-path: polygon(0 28%, 79% 28%, 85% 50%, 79% 72%, 0 72%);
    background-color: red;
    color: white;
    font-size: 1rem;
    padding: 10px 10px;
    max-width: 60px;
}
/* hover content_right_item_information */
.content_right_item:hover {
    border: 1px solid rgb(255, 51, 0) ;
}
.content_right_item:hover .content_right_item_header_img{
    opacity: 0.2;
}

.content_right_item:hover .sale{
    opacity: 0.2;
}

.content_right_item:hover .submit button{
    
    visibility: visible;
    
}
.content_right_item:hover .content_right_item_information {
    opacity: 0.5;
}

/*-----------------------------------------------------------------------------------------------*/
.submit input{
    position: absolute;
    left: 1.5625rem;
    top: 3.125rem;
    padding: 0.3125rem 0.625rem;
    display: none;
    background-color:#fe6363;
    color: white;
    border: none;
    cursor: pointer;
}
.hot-div:hover .submit input{
    display: block;
}
.hot-div:hover .hot-img{
    opacity: 0.5;
}
.hot-div:hover .hot-content{
    font-size: 1.1rem;
    width: 9em;
}
.hot-div:hover .note{
    opacity: 0.5;
}
.hot-div:hover .sale{
    opacity: 0.5;
}
.sale-now{
    position: relative;
    top: 15rem;
    left: 10rem;
    width: 1200px;
}
.sale-now-word{
    clip-path: polygon(0 0, 75% 0%, 80% 50%, 75% 100%, 0% 100%);
    background-color: #ff0000;
    font-size: 1.3rem;
    color: white;
    padding: 0.3125rem 0.8rem;
    width: 18.625rem;
}
.sale-now-content{
    display: flex;
    overflow-y: hidden;
}
/*--------------------------------------------------------------------------------------------------------*/
hr {
    width: 30rem;
    margin: 25px auto;
    border-style: solid;
    color: #ff0000;
}
.why-choose-us{
    position: relative;
    top: 23rem;
}
.why-choose-us-word{
    text-align: center;
    font-size: 30px;
}
.why-choose-us-content{
    display: grid;
    gap: 1px;
    grid-template-columns: 300px 300px;
    position: relative;
    justify-content: center;
    align-items: center;
}
.why-choose-us-content-child{
    max-width: 350px;
}
.why-choose-us-content-child-content{
    max-width: 350px;
    font-size: 25px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    border: solid 2px transparent ;
}
.why-choose-us-content-child-content p{
    padding: 10px 0px 10px 0px;
    width: 300px;
}
.why-choose-us-content-child:hover .why-choose-us-content-child-content{
    border: solid 2px red;
}
#footer{
    background-color: red;
    color: white;
    position: relative;
    top: 25rem;
}
.footer-follow-us{
 height: 60px;
 font-size: 1.2rem;
 padding: 20px 160px;
}
.footer-follow-us-content{
    float: left;
}
.footer-follow-us-logo {
   float: right;
   padding: 0px ;
}
.footer-follow-us-logo .fa-brands{
    color: white;
}
.footer-content{
    display: flex;
    justify-content: center;
    background-color: rgb(149, 0, 0);
}
.footer-content div{
    padding: 41px
}
.footer-content-all li{
    padding: 7px 0px 0px 0px;
    list-style-type: none;
}
.footer-content-all a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
.footer-content-all p:first-child{
    font-size: 1.2rem;
    font-weight: bold;
}
.footer-copyright{
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.img{
    width: 70%;
    margin: 0% 13% 0% 13%;
}
.img1{
    width: 70%;
    margin: 0% 13% 0% 13%;
}
