* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: roboto;
    src: url(/project/fonts/RobotoCondensed-Regular.ttf);
}

body {
    font-family: roboto;
}

#header {
    background-color: #ff0000;
    position: fixed;
    width: 100%;
    height: 2.5rem;
    z-index: 1;
    display: block;
}

.delivery {
    margin-top: -0.9375rem;
    margin-left: 10.125rem;
    position: relative;
    top: -0.9375rem;
}

.vertical {
    position: relative;
    top: -1.9375rem;
    left: 0.3125rem;
}

.login{
    margin-right: 9.375rem;
    position: relative;
    top: -1.625rem;
    font-size:  1.3125rem;
}
.login a{
    text-decoration: none;
    color: white;
    position: relative;
    top: -0.1rem;
}
.login span{
    font-size: 0.9375rem;
}

.shopping {
    margin-right: 17.5rem;
    position: relative;
    top: -1.75rem;
    font-size: 1.5625rem;
}

#logo {
    position: absolute;
    left: 0.4575rem;
    top: 0.25rem;
    margin-top: -0.375rem;
}

#nav {
    position: relative;
    top: -1.3rem;
    left: 9.375rem;
    height: 4.125rem;
    background-color: white;
    width: 112.5rem;
}

.topnav {
    position: absolute;
    left: 9.6875rem;
    margin-top: 1.25rem;
    top: 0.0625rem;
    width: 73.75rem;
    display: flex;
}

.topnav a {
    display: block;
    color: black;
    text-align: center;
    padding: 1.5rem 1.75rem;
    text-decoration: none;
    font-size: 0.9375rem;
    position: relative;
    top: -1.3125rem;
}

.topnav a:hover {
    background-color: #fe6363;
    color: white;
}

.topnav a:active {
    background-color: #ef5d8e;
}

.search {
    margin-left: 48.125rem;
    margin-top: 0.625rem;
    position: relative;
    top: -0.3125rem;
}

.search input[type=text] {
    border-radius: 5.625rem 0rem 0rem 5.625rem;
    border: none;
    font-size: 0.625rem;
    padding: 0.625rem;
    width: 18.125rem;
    float: left;
    outline: none;
}

.search button {

    width: 3.125rem;
    padding: 0.625rem;
    font-size: 0.625rem;
    border-radius: 0rem 5.625rem 5.625rem 0rem;
    float: left;
    border: none;
    background: white;
    height: 1.96875rem;
    position: relative;
    top: -0.03125rem;
}

.search button:hover {
    background: #fff4f9;
}

.search button:active {
    background: #ef5d8e;
}

.clr {
    clear: both;
}

h2 {
    float: left;
    margin-top: -1.5rem;
    font-size: 1.5625rem;
    position: relative;
    left: 3.125rem;
    color: white;
}

.left p {
    float: left;
    color: white;
}

.lang1 p {
    float: left;
    margin-left: 24.5rem;
    color: white;
    position: relative;
    top: -1.875rem;
}

.lang2 p {
    float: left;
    margin-left: 0.3125rem;
    color: white;
    position: relative;
    top: -1.875rem;
}

.right p {
    float: right;
    padding: 0rem 0.625rem;
    margin-top: -1.6875rem;
    color: white;
}

.dropdownmenu-content-sp {
    display: none;
    position: absolute;
    top: 2.8125rem;
    left: 8rem;
    background-color: #f9f9f9d8;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 14.6875rem;
}

.dropdownmenu-content-sp a {
    color: black;
    padding: 0.625rem 1rem;
    text-decoration: none;
    display: block;
    float: none;
    position: relative;
    top: 0.3125rem;
}

.dropdownmenu-content-tv {
    display: none;
    position: absolute;
    top: 2.8125rem;
    left: 15.625rem;
    background-color: #f9f9f9d8;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 5.115rem;
}

.dropdownmenu-content-tv a {
    color: black;
    padding: 0.625rem 1rem;
    text-decoration: none;
    display: block;
    float: none;
    position: relative;
    top: 0.3125rem;
}

.dropdownmenu-content-kmsk {
    display: none;
    position: absolute;
    top: 2.8125rem;
    left: 23.9375rem;
    background-color: #f9f9f9d8;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 5.115rem;
}

.dropdownmenu-content-kmsk a {
    color: black;
    padding: 0.625rem 4.03125rem;
    text-decoration: none;
    display: block;
    float: none;
    position: relative;
    top: 0.3125rem;
}

.dropdownmenu-content-us {
    display: none;
    position: absolute;
    top: 2.8125rem;
    left: 36.8125rem;
    background-color: #f9f9f9d8;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownmenu-content-us a {
    color: black;
    padding: 0.625rem 4.03125rem;
    text-decoration: none;
    display: block;
    float: none;
    position: relative;
    top: 0.3125rem;
}

.dropdownmenu:hover .dropdownmenu-content {
    display: block;
}

.slides {
    max-width: 42rem;
    position: relative;
    top: 8.125rem;
    left: 9.5rem;
}

.ads {
    display: flex;
    cursor: pointer;
    position: relative;
    top: -0.3125rem;
    left: 0.5625rem;
    width: 75rem;
}

.ads .gundam {
    position: relative;
    top: 8.125rem;
    left: 9.5rem;
    width: 31.125rem;
    height: 13.1875rem;
}

.clads {
    width: 31.125rem;
    position: absolute;
    top: 21.3125rem;
    left: 51.5rem;

}


.frame_0 {
    margin: 10px;
}


.frame_1 {
    position: relative;
    top: 10rem;
    left: 10.05rem;
    width: 75rem;
    display: block;
    padding: 0%;
}

.float_left {
    float: left;
    width: 50%;
    margin-bottom: 5rem;
}

.detail_img {
    position: relative;
    left: 3rem;
    bottom: 1rem;
    width: 70%;
    margin: 10px;
    display: block;
}

.float_right {
    float: right;
    width: 45%;
}




.rating-outer {
    position: relative;
    color: red;
    display: inline-block;
}

.rating-inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 94%;
}

.rating-outer::before,
.rating-inner::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f005 \f005 \f005 \f005 \f005";
}

.rating-inner::before {
    font-weight: 900;
}

.border_right {
    border-right: 1px solid silver;
    padding-right: 15px;
    margin: 15px;
    text-decoration: none;
    font-size: 20px;
}

.number1 {
    color: red;
    font-size: 20px;
}

.number2 {
    color: red;
    font-size: 40px;

}

.number3 {
    text-align: center;
    color: red;
    font-size: 40px;
    margin: 20px;

}

.text_color1 {
    color: #7c6363;
    font-size: 20px;
}

.text_color2 {
    color: #000000;
    font-size: 20px;
}

.text_color3 {
    font-style: inherit;
    color: #fff4f9;
    font-size: 20px;
    border-width: 50px;
    background-color: red;
}


.frame_2 {
    width: 20%;
    text-align: center;
    float: left;
    margin: 10px;
    border-style: double;
    border-color: red;
}

.frame_3 {
    width: 50%;
}





.detail_item1 {
    margin-top: 8%;
    text-align: center;
    display: flex;
}

.detail_item_title {
    color: rgb(255, 255, 255);
    background-color: #eb1309;
    width: 70%;
    margin: 2% 5% ;
    left: 10.05rem;
}

.detail_item2 {
    display: grid;
    grid-template-columns: 150px auto;
    position: relative;
    left: 15rem;
    top: 3rem;
}

.detail_item3 {
    margin: 20px 0 20px 60px;
    margin-left: 16.5%;
}

.frame_recomment {
    width: 20%;
    display: block;
    margin: 10px;
}

.recomment_item_title {
    color: rgb(255, 255, 255);
    background-color: #eb1309;
    width: 80%;
    left: 10.05rem;
    margin-top: -25%;
    margin-left: 22%;

}
.Chanhsstar{
    margin-top: -5rem;
}
.frame_star {

    width: 200px;
    display: block;
    margin-right: 90%;
    left: 10.05rem;
    margin-top: 10%;
    margin-left: 0%;
}

.Review_star {
    display: grid;
    grid-template-columns: 10 10 10 10 10 10;
    margin-left: 16%;
    margin-bottom: 1px;
    margin: 1rem;
    float: left;
    width: 15% 15% 15% 15% 15% 15%;
    height: 15% 15% 15% 15% 15% 15%;
    padding: 1rem;
    border: 1px red;
    border-style: solid;
}

.comment_item {
    color: rgb(255, 255, 255);
    display: block;
    margin-top: -3rem;
    padding: 5% 13% 5% 16.3%;

}

.comment_title {
    color: red;
    left: 10.05rem;
    margin-top: 0%;
    margin-left: 8%;

}

#comment {
    resize: none;
    width: 100%;
    height: 100px;
    float: left;
    display: block;
    margin: 10px;
}

#comment1 {
    color: gray;
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#submit {
    color: red;
}

.comment_title1 {


    left: 10.05rem;
    display: block;
    margin-top: 5%;
    margin-left: 17%;
}

.hr_style {
    color: rgb(255, 0, 43);
    width: 150px;
    float: left;
}




.clr {
    clear: both;
    display: table;
}



#footer {
    background-color: red;
    color: white;
    position: relative;
    top: 25rem;
    display: block;
    flex: auto;

}



.footer-follow-us {
    height: 60px;
    font-size: 1.2rem;
    padding: 20px 152px;
}

.footer-follow-us-content {
    float: left;
}

.footer-follow-us-logo {
    float: right;
    padding: 0px;
}

.footer-follow-us-logo .fa-brands {
    color: white;
}

.footer-content {
    display: flex;
    justify-content: center;
    background-color: rgb(149, 0, 0);
}

.footer-content div {
    padding: 41px
}

.footer-content-all li {
    padding: 7px 0px 0px 0px;
    list-style-type: none;
}

.footer-content-all a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

.footer-content-all p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-copyright {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}