
.member{
    position: absolute;
    width: 100%;
    margin-top: 150px;
}
.member h1{
    text-align: center;
}
.member-content p{
    font-size: 1.2rem;
    margin-top: 10px;
}
.table table{
    margin: 0 auto;
}
.table{
    margin-top: 10px;
    width: 100%;
}
.table table, th, td{
    border: 1px solid ;
    border-collapse: collapse;
    padding: 10px 20px;
    text-align: center;
}
.note-member{
    font-size: 1.1rem;
    margin-top: 10px;
}
.phone{
    margin-top: 10px;
    font-size: 1.1rem;
}
.red{
    color: red;
}
#footer{
    background-color: red;
    color: white;
    position: relative;
    top: 55rem;
}
.footer-follow-us{
 height: 60px;
 font-size: 1.2rem;
 padding: 20px 152px;
}
.footer-follow-us-content{
    float: left;
}
.footer-follow-us-logo {
   float: right;
   padding: 0px ;
}
.footer-follow-us-logo .fa-brands{
    color: white;
}
.footer-content{
    display: flex;
    justify-content: center;
    background-color: rgb(149, 0, 0);
}
.footer-content div{
    padding: 41px
}
.footer-content-all li{
    padding: 7px 0px 0px 0px;
    list-style-type: none;
}
.footer-content-all a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
.footer-content-all p:first-child{
    font-size: 1.2rem;
    font-weight: bold;
}
.footer-copyright{
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


