{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'assets/style.css' %}">
   <title>CBC Mall - Siêu Thị Nhật Bản</title>
   <link rel="stylesheet" href="{% static 'assets/fontawesome-free-6.2.0-web/css/all.min.css' %}">
   <script src="{% static 'js/script.js' %}"></script>
   <script src="{% static 'js/produce/ThietBiGiaDung.js' %}"></script>
   <script type="text/javascript">
      var user = '{{request.user}}'
      function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');
   </script>
</head>

<body>

   <!---Header-->
   <header id="header">
      <form class="search" method = POST action = "{% url 'search' %}">
         {% csrf_token %}
         <input class="input" type="text"  name="searched">
         <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <div class="clr"></div>
      <div class="left">
         <p class="delivery"><i class="fa-solid fa-truck-fast"></i><i>&nbsp;</i></p>
      </div>
      <div class="lang1">
         <p>VN</p>
      </div>
      <div class="left vertical">
         <P>|<i>&nbsp;</i></P>
      </div>
      <div class="lang2">
         <p>JPN</p>
      </div>
      <div class="clr"></div>
      <div class="right">
         <p class="shopping"><a href="{% url 'cart' %}"><i class="fa-solid fa-bag-shopping"></i></a> {{cartItems}}</p>
         <div class="login_out">
            <div class="login" style = "visibility: {{user_login}} ">
               <span><a href="{% url 'login' %}"> <i>&nbsp;</i> Đăng nhập</a></span>
            </div>
            <div class="login" style = "visibility: {{user_logout}} ">
               <span>{{request.user}}</span>
                  <a href="{% url 'user'  %}?id_user={{user.id}}">Thông tin cá nhân</a>
                  <a style="text-decoration: none" href="{% url 'history' %}">LS</a>
                  <a href="{% url 'logout' %}">Đăng Xuất</a>
            </div>
         </div>
         
      </div>
      <div id="nav">
         <nav class="topnav">
            <a style="text-decoration: none" href="{% url 'home' %}">TRANG CHỦ</a>
            <div class="dropdownmenu"><a style="text-decoration: none" href="{% url 'product' %}">SẢN PHẨM</a>
               <div class="dropdownmenu-content-sp dropdownmenu-content">
                  {% for category in categories %}
                  <a style="text-decoration: none" href="{% url 'category' %}?category={{category.slug}}">{{ category.name }}</a>
                  {% endfor %}
               </div>
            </div>
            <div class="dropdownmenu"><a style="text-decoration: none" href="{% url 'memberkhuyenmai' %}">THÀNH VIÊN</a>
               <div class="dropdownmenu-content-tv dropdownmenu-content">
                  <a style="text-decoration: none" href="{% url 'memberkhuyenmai' %}" >ƯU ĐÃI</a>
                  <a style="text-decoration: none" href="{% url 'regestermember' %}" >ĐĂNG KÝ</a>
               </div>
            </div>
            <div class="dropdownmenu"><a style="text-decoration: none" href="{% url 'event' %}">KHUYẾN MÃI VÀ SỰ KIỆN</a>

            </div>
            <div class="dropdownmenu"><a style="text-decoration: none" href="{% url 'introduce' %}">VỀ CHÚNG TÔI</a>
               <div class="dropdownmenu-content-us dropdownmenu-content">
                  <a style="text-decoration: none" href="{% url 'introduce' %}" >GIỚI THIỆU</a>
                  <a style="text-decoration: none" href="{% url 'TuyenDung' %}">TUYỂN DỤNG</a>
               </div>
            </div>
            <div class="dropdownmenu">
               <a style="text-decoration: none" href="{% url 'contactus' %}" >LIÊN HỆ</a>
            </div>
            <div class="dropdownmenu">
               <a style="text-decoration: none" href="{% url 'location' %}" >HỆ THỐNG CỬA HÀNG</a>
            </div>
            <div class="dropdownmenu" style = "visibility:{{user_staff}}">
               <a style="text-decoration: none" href="{% url 'create' %}" >THÊM SẢN PHẨM</a>
            </div>
            <div class="dropdownmenu">
               <a style="text-decoration: none" href="{% url 'sstatistics' %}" >THỐNG KÊ</a>
            </div>
         </div>
            
         </nav>
         <img id="logo" src="{% static 'images/logo/logodqb-02.png' %}" alt="logo" width="70px">
      </div>
   </header>

   {% block banner_slider %}
   {% endblock banner_slider %}

   {% block main-content %}
   {% endblock main-content %}

   {% block detail_content %}
   {% endblock detail_content %}

   {% block cart_content %}
   {% endblock cart_content %}

   {% block delivery_content %}
   {% endblock delivery_content %}

   {% block payment_content %}
   {% endblock payment_content %}

   {% block category %}
   {% endblock category %}

   {% block product %}
   {% endblock product %}

   {% block event %}
   {% endblock event %}

   {% block contactus %}
   {% endblock contactus %}

   {% block regestermember %}
   {% endblock regestermember %}

   {% block khuyenmai %}
   {% endblock khuyenmai %}

   {% block introduce %}
   {% endblock introduce %}

   {% block TuyenDung %}
   {% endblock TuyenDung %}

   {% block location %}
   {% endblock location %}

   {% block history %}
   {% endblock history %}

   {% block sstatistics %}
   {% endblock sstatistics %}

   {% block form %}
   {% endblock form %}

   <footer id="footer">
      <div class="footer-follow-us">
         <p class="footer-follow-us-content">Kết nối với chúng tôi trên mạng xã hội:</p>
         <div class="footer-follow-us-logo">
            <a style="text-decoration: none" href=""><i class="fa-brands fa-facebook">&nbsp;</i></a>
            <a style="text-decoration: none" href=""><i class="fa-brands fa-instagram">&nbsp;</i></a>
            <a style="text-decoration: none" href=""><i class="fa-brands fa-square-twitter">&nbsp;</i></a>
            <a style="text-decoration: none" href=""><i class="fa-brands fa-linkedin">&nbsp;</i></a>
            <a style="text-decoration: none" href=""><i class="fa-brands fa-google">&nbsp;</i></a>
         </div>
      </div>
      <div class="footer-content">
         <div class="footer-content-all">
            <p>CBCSHOP.VN</p>
            <p>GPDKKD: 0123456789 do sở KH & ĐT TP.HCM cấp ngày 7/11/2022.</p>
            <p>Địa chỉ: Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, TPHCM.</p>
            <p>Email: info@cbcshop.com.vn.</p>
         </div>
         <div class="footer-content-all">
            <p>THÔNG TIN CỬA HÀNG</p>
            <p>
            <ul>
               <li><a style="text-decoration: none" href="">Giới thiệu cửa hàng</a></li>
               <li><a style="text-decoration: none" href="">Hệ thống cửa hàng</a></li>
               <li><a style="text-decoration: none" href="">Phương châm bán hàng</a></li>
               <li><a style="text-decoration: none" href="">Tuyển dụng</a></li>
            </ul>
            </p>
         </div>
         <div class="footer-content-all">
            <p>CHÍNH SÁCH CHUNG</p>
            <p>
            <ul>
               <li><a style="text-decoration: none" href="">Bảo trì - Bảo hành - Đổi trả</a></li>
               <li><a style="text-decoration: none" href="">Quy định giao hàng</a></li>
               <li><a style="text-decoration: none" href="">Điều khoản sử dụng</a></li>
               <li><a style="text-decoration: none" href="">Thỏa thuận người dùng</a></li>
            </ul>
            </p>
         </div>
         <div class="footer-content-all">
            <p>THẺ THÀNH VIÊN</p>
            <p>
            <ul>
               <li><a style="text-decoration: none" href="">Quyền lợi của Thành Viên</a></li>
               <li><a style="text-decoration: none" href="">Hỗ trợ thành viên</a></li>
               <li><a style="text-decoration: none" href="">Điều khoản sử dụng</a></li>
               <li><a style="text-decoration: none" href="">Thỏa thuận người dùng</a></li>
            </ul>
            </p>
         </div>
      </div>
      <div class="footer-copyright">
         <p>&copy;2022 - Công ty TNHH CBC</p>
      </div>
   </footer>
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/detail.js' %}"></script>
</body>
</html>