<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/project/assets/contactus.css">
    <title>Liên Hệ</title>
</head>
<body>
    <div class="form-contact">
        <div class="form-contact-content">
            <div class="form-contact-content-child-1">
                <h1>Chăm sóc khách hàng</h1>
                <div class="input-form-contact">
                    <input type="text" id="fullname" class="input-contact text" placeholder=" ">
                    <label for="fullname" class="input-contact-label">Họ và Tên</label>
                </div>
                <div class="input-form-contact">
                    <input type="text" id="email" class="input-contact text" placeholder=" ">
                    <label for="email" class="input-contact-label">Email</label>
                </div>
                <div class="input-form-contact">
                    <input type="text" id="subject" class="input-contact text" placeholder=" ">
                    <label for="subject" class="input-contact-label">Chủ đề</label>
                </div>
                <div class="input-form-contact">
                    <textarea name="" id="message" class="input-contact mess" placeholder=" "></textarea>
                    <label for="message" class="input-contact-label">Tin nhắn</label>
                </div>
                <button>Gửi</button>
            </div>
            <div class="form-contact-content-child-2">
                <div class="logo">
                    <img src="/project/images/logo/logo dqb-02.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>