{% extends 'html/base.html' %} {% load static %} {% block contactus %}
<head>
  <link rel="stylesheet" href="{% static 'assets/contactus.css' %}" />
</head>
<body>
  <div class="container">
    <h1>Chăm sóc khách hàng</h1>
    <form class="form-contact">
      <div class="input-form-contact">
        <input
          type="text"
          id="fullname"
          class="input-contact text"
          placeholder=" "
          required
        />
        <label for="fullname" class="input-contact-label">Họ và Tên</label>
      </div>
      <div class="input-form-contact">
        <input
          type="email"
          id="email"
          class="input-contact text"
          placeholder=" "
          required
        />
        <label for="email" class="input-contact-label">Email</label>
      </div>
      <div class="input-form-contact">
        <input
          type="text"
          id="subject"
          class="input-contact text"
          placeholder=" "
          required
        />
        <label for="subject" class="input-contact-label">Chủ đề</label>
      </div>
      <div class="input-form-contact">
        <textarea
          id="message"
          class="input-contact mess"
          placeholder=" "
          required
        ></textarea>
        <label for="message" class="input-contact-label">Tin nhắn</label>
      </div>
      <button type="submit">Gửi</button>
    </form>
  </div>
</body>
{% endblock contactus %}
