{% extends 'html/base.html' %} {% load static %} {% block contactus %}
<head>
  <link rel="stylesheet" href="{% static 'assets/contactus.css' %}" />
</head>
<body>
  <div class="container">
    <h1>Liên hệ</h1>
    {% if success_message %}
    <p style="color: green">{{ success_message }}</p>
    {% endif %}
    <form class="form-contact" method="post">
      {% csrf_token %}
      <div class="input-form-contact">
        <input
          type="text"
          id="fullname"
          class="input-contact text"
          name="name"
          placeholder=" "
          required
        />
        <label for="fullname" class="input-contact-label">Họ và Tên</label>
      </div>
      <div class="input-form-contact">
        <input
          type="email"
          id="email"
          class="input-contact text"
          name="email"
          placeholder=" "
          required
        />
        <label for="email" class="input-contact-label">Email</label>
      </div>
      <div class="input-form-contact">
        <textarea
          id="message"
          class="input-contact mess"
          name="message"
          placeholder=" "
          required
        ></textarea>
        <label for="message" class="input-contact-label">Tin nhắn</label>
      </div>
      <button type="submit">Gửi</button>
    </form>
  </div>
</body>
{% endblock contactus %}
