{% extends 'html/base.html' %}
{% load static %}
{% block delivery_content %}
<head>
    <link rel="stylesheet" href="{% static 'assets/delivery.css' %}">
</head>
<!---delivery -->
<section class="delivery-cart">
    <div class="container">
        <div class="delivery-top-wrap">
            <div class="delivery-top">
                <div class="delivery-top-delivery delivery-top-item">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="delivery-top-adress delivery-top-item">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="delivery-top-payment delivery-top-item">
                    <i class="fas fa-money-check-alt"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="delivery-content row">
            <div class="delivery-content-left">
                <form action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}
                    <p>Vui lòng chọn địa chỉ giao hàng</p>
                    <div class="delivery-content-left-input-top row">
                        <div class="delivery-content-left-input-top-item">
                            <label for="customerName">Họ tên<span style="color:red">*</span></label>
                            <input type="text" name="customerName" id="customerName">
                        </div>
                        <div class="delivery-content-left-input-top-item">
                            <label for="mobile">Điện thoại<span style="color:red">*</span></label>
                            <input type="text" name="mobile" id="mobile">
                        </div>
                        <div class="delivery-content-left-input-top-item">
                            <label for="city">Tỉnh/tp<span style="color:red">*</span></label>
                            <input type="text" name="city" id="city">
                        </div>
                    </div>
                    <div class="delivery-content-left-input-bottom">
                        <label for="address">Địa chỉ<span style="color:red">*</span></label>
                        <input type="text" name="address" id="address">
                    </div>
                    <div class="delivery-content-left-button row">
                        <a href="javascript:history.back()"><span>&#171;</span><p>Quay lại giỏ hàng</p></a>
                        <button type="submit" style="font-weight: bold;">THANH TOÁN VÀ GIAO HÀNG</button>
                    </div>
                </form>
                
            </div>
            <div class="delivery-content-right">
                <table>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Giảm giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                    {% for item in items %}
                    <tr>
                        <td>{{item.product.name}}</td>
                        <td>{{item.product.sale}}%</td>
                        <td>1</td>
                        <td><p>{{item.product.price}}<sup>đ</sup></p></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="font-weight: bold;" colspan="2">Tổng</td>
                        <td>{{order.get_cart_item}}</td>
                        <td style="font-weight: bold;"><p>{{order.get_cart_total}}<sup>đ</sup></p></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" colspan="3">Thuế VAT</td>
                        <td style="font-weight: bold;"><p>60.000<sup>đ</sup></p></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" colspan="3">Tổng tiền hàng</td>
                        <td style="font-weight: bold;"><p>790.000<sup>đ</sup></p></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock delivery_content %}
