{% extends 'html/base.html' %}
{% load static %}
{% block detail_content %}
<head>
   <link rel="stylesheet" href="{% static 'assets/item.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="ads">
</div>
{% for product in products%}
<div class="frame_1">
   <div class="float_left">
      <img class="detail_img" src="{{ product.ImageURL }}">
   </div>

   <div class="float_right">
      <div>
         <h1>{{ product.name }}</h1><br>
         <h3 class="frame_0"> Hàng nhập khẩu từ Nhật Bản 100%</h3>
         <h3 class="frame_0">Cam kết chính hãng</h3>


      </div>
      <div>
         <a class="border_right" href="#star"> <u class="number1">4.7</u>
            <span class="icon rating-outer">
               <span class="icon rating-inner"></span>
            </span>
         </a>
         <a class="border_right" href="#star">
            <u class="text_color2">250</u> <span class="text_color1">Đánh giá</span>
         </a>
         <a>
            <span class="text_color2">200</span> <span class="text_color1">Đã bán</span>
         </a>
         <p class="number3"><span id="money">{{ product.price }}</span> VNĐ<span class="text_color3">Giảm {{ product.sale }}</span></p>

      </div>
      <div>
         <table>
            <tr>
               <td>
                  Combo

               </td>
               <td>
                  Mua 2 mô hình tặng bình giữ nhiệt lock and lock
               </td>
            </tr>
            <tr>
               <td>
                  Mã Giảm Giá
               </td>
               <td class="frame_2">
                  10k
               </td>
               <td class="frame_2">
                  20k
               </td>
               <td class="frame_2">
                  50k
               </td>
            </tr>
            <tr class="frame_3">
               <td>
                  Vận chuyển
               </td>
               <td colspan="3">
                  Miễn phí trong khu vực TP.HCM
               </td>
            </tr>
            <tr>
               <td >
                  <div style = "visibility: {{user_logout}} ">
                     <button data-product="{{product.ID}}" data-action="add" class="update-cart">
                        <a  href="{% url 'cart' %}"> Mua Ngay </a>
                     
                     </button>
                  </div>

                  <div style = "visibility: {{user_login}} ">
                     <button data-product="{{product.ID}}" data-action="add" class="update-cart">
                        <a  href="{% url 'login' %}"> Mua Ngay </a>
                     
                     </button>
                  </div>
               </td>
            </tr>
         </table>
      </div>

   </div>

</div>
<div class="clr"></div>
<div class="detail_item1">
   <h2 class="detail_item_title">
      CHI TIẾT SẢN PHẨM
   </h2>
</div>
<div class="detail_item2">
   <div> Danh Mục </div>
   <div> Đồ chơi </div>
   <div> Số lượng </div>
   <div> 1000 </div>
   <div> Chất lượng </div>
   <div> mô hình nhựa</div>
</div>
<div class="detail_item1">
   <h2 class="detail_item_title">
      MÔ TẢ SẢN PHẨM
   </h2>
</div>
<p class="detail_item3">
   Sản Phẩm Mô Hình Gundam barbatos làm từ Nhựa Cao Cấp Với Độ Sắc Nét Cao <br>
   An Toàn Với Trẻ Em <br>
   Phát Triển Trí Não Cho Trẻ Hiệu Quả Đi Đôi Với Niềm Vui Thích Bất Tận <br>
   Rèn Luyện Tính Kiên Nhẫn Cho Người Chơi <br>
   Tính trang trí trưng bày cao. <br>
   Thông Tin Cơ Bản : <br>
   Mô Hình Gundam barbatos (Gunpla) Là Một Loại Mô Hình Nhựa Được Gọi Là Model Kit, Bao Gồm Nhiều Mảnh Nhựa Rời Được <br>
   Gọi Là Part (Bộ Phận), Khi Lắp Ráp Các Part Lại Với Nhau Sẽ Được Mô Hình Hoàn Chỉnh. Các Mảnh Nhựa Rời Này Được <br>
   Gắn Trên Khung Nhựa Gọi Là Runner. Mỗi Một Hộp Sản Phẩm Gunpla Bao Gồm Nhiều Runner Và Các Phụ Kiện Liên Quan, Một <br>
   Tập Sách Nhỏ (Manual) Bên Trong Giới Thiệu Sơ Lược Về Mẫu Gundam Trong Hộp Và Phần Hướng Dẫn Cách Lắp Ráp. <br> 
   Dòng Gundam Với Các Chi Tiết Hoàn Hảo. <br>
   Các Khớp Cử Động Linh Hoạt Theo Ý Muốn. <br>
   Người Chơi Sẽ Thỏa Sức Sáng Tạo Và Đam Mê. <br>

</p>
</div>



<div class="detail_item1">
   <div class="frame_recomment">
      <h2 class="recomment_item_title">Đánh giá sản phẩm</h2>
   </div>
   <div>
      <span class="frame_star" id="star"> <span class="number2">{{product.star_rating}}</span> <span class="number1">trên 5</span>
        
      {% comment %} <span class="icon rating-outer">
            <span class="icon rating-inner"></span>
         </span>
      </span>
      <div class="Review_star"> Tất cả</div>
      <div class="Review_star"> 5 Sao(200)</div>
      <div class="Review_star"> 4 Sao(20)</div>
      <div class="Review_star"> 3 Sao(10)</div>
      <div class="Review_star"> 2 Sao(10) </div>
      <div class="Review_star"> 1 Sao(10) </div> {% endcomment %}
      {% comment %} <i class="fa-regular fa-star"></i> {% endcomment %}
      <div class="stars">
         <form action="">
            <div class="rating">
               <input type="radio" class="star star-5" id="star-5" name="star"/>
               <label class="star star-5" for="star-5"></label>
               <input type="radio" class="star star-4.5" id="star-4.5" name="star"/>
               <label class="star star-4.5" for="star-4.5"></label>
               <input type="radio" class="star star-4" id="star-4" name="star"/>
               <label class="star star-4" for="star-4"></label>
               <input type="radio" class="star star-3.5" id="star-3.5" name="star"/>
               <label class="star star-3.5" for="star-3.5"></label>
               <input type="radio" class="star star-3" id="star-3" name="star"/>
               <label class="star star-3" for="star-3"></label>
               <input type="radio" class="star star-2.5" id="star-2.5" name="star"/>
               <label class="star star-2.5" for="star-2.5"></label>
               <input type="radio" class="star star-2" id="star-2" name="star"/>
               <label class="star star-2" for="star-2"></label>
               <input type="radio" class="star star-1.5" id="star-1.5" name="star"/>
               <label class="star star-1.5" for="star-1.5"></label>
               <input type="radio" class="star star-1" id="star-1" name="star"/>
               <label class="star star-1" for="star-1"></label>
               <input type="radio" class="star star-0.5" id="star-0.5" name="star"/>
               <label class="star star-0.5" for="star-0.5"></label>
            </div>
         </form>
      </div>

   </div>

</div>
<div class="comment_item">
   <h1 class="comment_title">Ý kiến</h1>
   {% for comment in post.comments.all %}
   <label class="comment_font">
      <span class="text_color1">Người viết:{{comment.customer}}</span>
   </label>
   <p > {{comment.body|linebreaks}} </p>
   <br>
   {% endfor %}
</div>
{% if user.username %}
<div class="comment_item">
   <form action = "" method = 'POST'>
      {% csrf_token %}
      <h1 class="comment_title">Ý kiến</h1>
      <p>
         {{form.body}}
      </p>
      <input type="submit" value="Gửi bình luận">
</div>
{% endif %}

</div>
{% endfor %}
{% endblock detail_content %}