{% extends 'html/base.html' %}
{% load static %}
{% block event %}
<head>
   <link rel="stylesheet" href="{% static 'assets/event.css' %}" />
</head>
   <!-- content -->
   <div>
      <img class="img" src="{% static 'images/event/4f3e6dba74b0e10f2e7719d10a0011b7.png' %}">
   </div>
   <div>
      <img class="img1" src="{% static 'images/event/b780cf872f9d2cbbec98586f4e823628.png' %}">
   </div>

   <div class="sale-now">
      <p class="sale-now-word">ĐANG KHUYẾN MÃI</p>
      <div class="content_right_group_item">
         {% for product in product  %}
         {% if product.sale > 0 %}
         <div class="content_right_item">
            <div class="content_right_item_header">
               <img src="{{product.ImageURL}}" alt="" class="content_right_item_header_img" >
               <div class="submit">
                  
                     <button onclick="Produce_1()">Xem chi tiết</button>
                  
               </div>
            <div class="sale">-{{product.sale}}%</div>
            </div>
         <div class="content_right_item_information">
            
               <div class="name">
                  {{product.name}}
               </div>
         </div>
         </div>
         {% endif %}
         {% endfor %}
         
      </div>
      
   </div>

{% endblock event %}