{% extends 'html/base.html' %}
{% load static %}
{% block banner_slider %}

   <div class="ads">
      <section>
         <img class="slides" src="{% static 'images/IMPREA.jpg' %}">
         <img class="slides" src="{% static 'images/4mypham.jpg' %}">
         <img class="slides" src="{% static 'images/valentine.jpg' %}">
      </section>
      <img class="gundam" src="{% static 'images/hr.png' %}">
      <section>
         <img class="clads" src="{% static 'images/JOGGER.png' %}">
         <img class="clads" src="{% static 'images/collection.png' %}">
      </section>
   </div>
{% endblock banner_slider %}
{% block main-content %}
   <div class="hot">
      <p class="topsold">SẢN PHẨM BÁN CHẠY</p>
      <div class="content_right_group_item">
         {% for product in product  %}
         {% if product.sell >= 2000 %}
         
         <div class="content_right_item">
            <div class="content_right_item_header">
               <img src="{{product.ImageURL}}" alt="" class="content_right_item_header_img" >
               <div class="submit">
                  
                     <button onclick="Produce_1()">Xem chi tiết</button>
                  
               </div>
            <div class="sell">Đã bán {{product.sell}}</div>
            </div>
         <div class="content_right_item_information">
            
               <div class="name">
                  {{product.name}}
               </div>
         </div>
         </div>
         
         {% endif %}
         {% endfor %}
         
      </div>
   </div>
   <div class="sale-now">
      <p class="sale-now-word">ĐANG KHUYẾN MÃI</p>
      <div class="content_right_group_item">
         {% for product in product  %}
         {% if product.sale > 20 %}
         
         <div class="content_right_item">
            <div class="content_right_item_header">
               <img src="{{product.ImageURL}}" alt="" class="content_right_item_header_img" >
               <div class="submit">
                  
                     <button onclick="Produce_1()">Xem chi tiết</button>
                  
            </div>
            <div class="sale">-{{product.sale}}%</div>
         </div>
         <div class="content_right_item_information">
            
               <div class="name">
                  {{product.name}}
               </div>
         </div>
         </div>
         
         {% endif %}
         {% endfor %}
         
      </div>
   </div>
   <div class="new-come">
      <p class="new-come-word">SẢN PHẨM MỚI</p>
      <div class="content_right_group_item">
         {% for product in product  %}
         {% if product.categy == "Khác" %}
         
         <div class="content_right_item">
            <div class="content_right_item_header">
               <img src="{{product.ImageURL}}" alt="" class="content_right_item_header_img" >
               <div class="submit">
                  
                     <button onclick="Produce_1()">Xem chi tiết</button>
                  
               </div>
            </div>
         <div class="content_right_item_information">
            
               <div class="name">
                  {{product.name}}
               </div>
         </div>
         </div>
         
         {% endif %}
         {% endfor %}
         
      </div>
   </div>
   <div class="why-choose-us">
      <hr>
      <p class="why-choose-us-word">VÌ SAO NÊN CHỌN CBC?</p>
      <div class="why-choose-us-content">
         <div class="why-choose-us-content-child">
            <div class="why-choose-us-content-child-content">
               <p><i class="fa-solid fa-truck-fast"></i></p>
               <p>Giao hàng toàn quốc</p>
            </div>
         </div>
         <div class="why-choose-us-content-child">
            <div class="why-choose-us-content-child-content">
               <p><i class="fa-solid fa-rocket"></i></p>
               <p>Bảo hành nhanh nhẹn</p>
            </div>
         </div>
         <div class="why-choose-us-content-child">
            <div class="why-choose-us-content-child-content">
               <p><i class="fa-solid fa-handshake"></i></p>
               <p>Cam kết chính hãng</p>
            </div>
         </div>
         <div class="why-choose-us-content-child">
            <div class="why-choose-us-content-child-content">
               <p><i class="fa-solid fa-money-bill-1-wave"></i></p>
               <p>Cam kết chính hãng</p>
            </div>
         </div>
      </div>
   </div>
{% endblock main-content %}