{% extends 'html/base.html' %}
{% load static %}
{% block introduce %}
   <!-- content -->
   <div id="content">
      <div>
         <h2>Giới thiệu về chúng tôi</h2> <br>
         <div class="content_introduce">
            Ngày này trong nhịp sống hối hả của con người thì việc giành thời gian để ra ngoài để mua sắm trở nên là 1
            điều quá xa sỉ...
            Những lo lắng về giao thông không an toàn và hạn chế trong việc mua hàng truyền thống có thể tránh được
            trong khi mua sắm trực tuyến.
            Với mua sắm trực tuyến(online), bạn cũng không cần phải lo lắng về điều kiện thời tiết.
            Người tiêu dùng và các khách hàng là những tổ chức, công ty,… đang dần chuyển sang mua sắm trực tuyến nhiều
            hơn nhằm tiết kiệm thời gian
            Chính vì thế việc mua sắm online càng trở nên quan trọng và cần thiết,chỉ cần 1 cú click chuột thì bạn có
            thể có được sản phẩm mà mình mong muốn.
            Việc mua sắm online có nhiều ưu điểm là có thể sở hữu mọi thứ thông qua các cú click chuột chứ không cần
            phải đến tận nơi để mua hàng. Sau khi vào Web, chọn sản phẩm, chỉ cần đặt hàng (order) người bán sẽ mang sản
            phẩm đến tận nhà bạn.
            Mua sắm online cho phép mua hàng bất cứ khi nào bạn muốn. Các cửa hang trên mạng không bao giờ đóng cửa, có
            thể mua sắm 24/24 giờ và 7 ngày trong tuần.
            Mua sắm ở các chợ, trung tâm thương mại hay cửa hàng rất khó để bạn có thể so sánh đặc điểm và giá của sản
            phẩm với nhau.
            Khi mua hàng online, bạn dễ dàng so sánh và đưa ra lựa chọn sản phẩm phù hợp nhất. Đôi khi bạn gặp phải
            những người bán hàng khó tính tại một số địa điểm bán hàng.
            Mua sắm online thì khách hàng chẳng phải để ý đến chuyện ấy nữa.
         </div> <br>
         <h2>Vì sao bạn nên chọn chúng tôi</h2> <br>
         <div class="content_why">
            <h3>
               <i class="fa-solid fa-handshake"></i> Cam kết chính hãng <br>
               <i class="fa-solid fa-truck-fast"></i> Giao hàng quốc tế <br>
               <i class="fa-solid fa-rocket"></i> Bảo hành nhanh nhẹ <br>
            </h3>
         </div> <br>
         <h2>
            TẦM NHÌN, SỨ MỆNH PHỤC VỤ, GIÁ TRỊ
         </h2> <br>
         <div class="content_vision">
            <h3>Tầm nhìn</h3>
            <p>
               Sáng tạo trong tiếp thị, chiến lược bán hàng và dịch vụ hậu bán hàng xuất sắc để duy trì thị phần, quảng
               bá hình ảnh đặc biệt và sang trọng của CBC Mall tại Việt Nam.
            </p>
            <h3>Sứ mệnh phục vụ</h3>
            <ul>
               Để hiện thực hóa tầm nhìn trên chúng tôi luôn trung thành với những giá trị cốt lõi như:
               <li>Uy tín: Thực hiện đúng và cao hơn những cam kết với khách hàng, đối tác.</li>
               <li>Năng lực: Tập hợp, huấn luyện và phát triển năng lực nhân sự.</li>
               <li>Chia sẻ: Chia sẻ lợi ích với đối tác, khách hàng, nhân sự và xã hội.</li>
               <li>Hệ thống: Hệ thống quản trị khoa học, hiện đại và luôn đổi mới để hoàn thiện.</li>
               <li>Trung: Trung thực và minh bạch trong các hoạt động, trung thành và theo đuổi mục tiêu tới cùng.</li>
            </ul>
            <h3>
               Giá trị
            </h3>
            </p>
            Vì tất cả những sản phẩm cũng như dịch vụ trên mà CBC Mall Việt Nam chúng tôi đem tới cho khách hàng, chúng
            tôi tin tưởng rằng, quý khách hàng sẽ thật sự hài lòng khi sử dụng sản phẩm và dịch vụ của CBC Mall tại Việt
            Nam.
            </p>
         </div> <br>
         <h2>Các Phương thức thanh toán</h2>
         <div>
            <img class="content_img" src="/project/images/introduce/thanh-toan-dien-tu-4.jpg" alt="">
         </div>
         <h2>Các phương thức giao hàng</h2>
         <div>
            <img class="content_img"
               src="/project/images/introduce/8-ung-dung-giao-hang-toan-quoc-nhanh-chong-pho-bien-tot-nhat-thumb-800x450.jpg"
               alt="">
         </div>
      </div>
   </div>
{% endblock introduce %}