<!DOCTYPE html>
<html lang="vi">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CBC Mall - Siêu Thị Nhật Bản</title>
   <link rel="stylesheet" href="/project/assets/introduce.css">
   <link rel="stylesheet" href="/project/assets/fontawesome-free-6.2.0-web/css/all.css">
</head>

<body>
   <header id="header">
      <form class="search">
         <input class="input" type="text" placeholder="Biet ong Liem khong..">
         <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <div class="clr"></div>
      <div class="left">
         <p class="delivery"><i class="fa-solid fa-truck-fast"></i><i>&nbsp;</i> 0365112601</p>
      </div>
      <div class="lang1">
         <p>VN</p>
      </div>
      <div class="left vertical">
         <P>|<i>&nbsp;</i></P>
      </div>
      <div class="lang2">
         <p>JPN</p>
      </div>
      <div class="clr"></div>
      <div class="right">
         <p class="login"><i class="fa-solid fa-user"></i><i>&nbsp;</i><span><a href="/project/html/form.html"
                  target="_blank">Đăng nhập</a></span></p>
         <p class="shopping"><i class="fa-solid fa-bag-shopping"></i></p>
      </div>
      <div id="nav">
         <nav class="topnav">
            <a href="/project/html/home.html">TRANG CHỦ</a>
            <div class="dropdownmenu"><a href="">SẢN PHẨM</a>
               <div class="dropdownmenu-content-sp dropdownmenu-content">
                  <a href="/project/html/My pham/main/category.html">MỸ PHẨM</a>
                  <a href="/project/html/Thuc%20pham/main/category.html">THỰC PHẨM</a>
                  <a href="/project/html/Quan%20Ao/main/category.html">QUẦN ÁO</a>
                  <a href="/project/html/thiet%20bi%20gia%20dung/main/category.html">ĐỒ GIA DỤNG</a>
                  <a href="/project/html/Do%20choi/main/category.html">ĐỒ CHƠI</a>
                  <a href="/project/html/Khac/main/category.html">KHÁC</a>
               </div>
            </div>
            <div class="dropdownmenu"><a href="">THÀNH VIÊN</a>
               <div class="dropdownmenu-content-tv dropdownmenu-content">
                  <a href="/project/html/memberkhuyenmai.html" target="_blank">ƯU ĐÃI</a>
                  <a href="/project/html/regestermember.html" target="_blank">ĐĂNG KÝ</a>
               </div>
            </div>
            <div class="dropdownmenu"><a href="/project/html/event.html">KHUYẾN MÃI VÀ SỰ KIỆN</a>

            </div>
            <div class="dropdownmenu"><a href="">VỀ CHÚNG TÔI</a>
               <div class="dropdownmenu-content-us dropdownmenu-content">
                  <a href="/project/html/introduce.html " target="_blank">GIỚI THIỆU</a>
                  <a href="/project/html/Tuyen dung/TuyenDung.html">TUYỂN DỤNG</a>
               </div>
            </div>
            <a href="/project/html/contactus.html" target="_blank">LIÊN HỆ</a>
            <a href="/project/html/location.html" target="_blank">HỆ THỐNG CỬA HÀNG</a>
         </nav>
         <img id="logo" src="/project/images/logo/logo dqb-02.png" alt="logo" width="70px">
      </div>
   </header>
   <!-- content -->
   <div id="content">
      <div>
         <h2>Giới thiệu về chúng tôi</h2> <br>
         <div class="content_introduce">
            Ngày này trong nhịp sống hối hả của con người thì việc giành thời gian để ra ngoài để mua sắm trở nên là 1
            điều quá xa sỉ...
            Những lo lắng về giao thông không an toàn và hạn chế trong việc mua hàng truyền thống có thể tránh được
            trong khi mua sắm trực tuyến.
            Với mua sắm trực tuyến(online), bạn cũng không cần phải lo lắng về điều kiện thời tiết.
            Người tiêu dùng và các khách hàng là những tổ chức, công ty,… đang dần chuyển sang mua sắm trực tuyến nhiều
            hơn nhằm tiết kiệm thời gian
            Chính vì thế việc mua sắm online càng trở nên quan trọng và cần thiết,chỉ cần 1 cú click chuột thì bạn có
            thể có được sản phẩm mà mình mong muốn.
            Việc mua sắm online có nhiều ưu điểm là có thể sở hữu mọi thứ thông qua các cú click chuột chứ không cần
            phải đến tận nơi để mua hàng. Sau khi vào Web, chọn sản phẩm, chỉ cần đặt hàng (order) người bán sẽ mang sản
            phẩm đến tận nhà bạn.
            Mua sắm online cho phép mua hàng bất cứ khi nào bạn muốn. Các cửa hang trên mạng không bao giờ đóng cửa, có
            thể mua sắm 24/24 giờ và 7 ngày trong tuần.
            Mua sắm ở các chợ, trung tâm thương mại hay cửa hàng rất khó để bạn có thể so sánh đặc điểm và giá của sản
            phẩm với nhau.
            Khi mua hàng online, bạn dễ dàng so sánh và đưa ra lựa chọn sản phẩm phù hợp nhất. Đôi khi bạn gặp phải
            những người bán hàng khó tính tại một số địa điểm bán hàng.
            Mua sắm online thì khách hàng chẳng phải để ý đến chuyện ấy nữa.
         </div> <br>
         <h2>Vì sao bạn nên chọn chúng tôi</h2> <br>
         <div class="content_why">
            <h3>
               <i class="fa-solid fa-handshake"></i> Cam kết chính hãng <br>
               <i class="fa-solid fa-truck-fast"></i> Giao hàng quốc tế <br>
               <i class="fa-solid fa-rocket"></i> Bảo hành nhanh nhẹ <br>
            </h3>
         </div> <br>
         <h2>
            TẦM NHÌN, SỨ MỆNH PHỤC VỤ, GIÁ TRỊ
         </h2> <br>
         <div class="content_vision">
            <h3>Tầm nhìn</h3>
            <p>
               Sáng tạo trong tiếp thị, chiến lược bán hàng và dịch vụ hậu bán hàng xuất sắc để duy trì thị phần, quảng
               bá hình ảnh đặc biệt và sang trọng của CBC Mall tại Việt Nam.
            </p>
            <h3>Sứ mệnh phục vụ</h3>
            <ul>
               Để hiện thực hóa tầm nhìn trên chúng tôi luôn trung thành với những giá trị cốt lõi như:
               <li>Uy tín: Thực hiện đúng và cao hơn những cam kết với khách hàng, đối tác.</li>
               <li>Năng lực: Tập hợp, huấn luyện và phát triển năng lực nhân sự.</li>
               <li>Chia sẻ: Chia sẻ lợi ích với đối tác, khách hàng, nhân sự và xã hội.</li>
               <li>Hệ thống: Hệ thống quản trị khoa học, hiện đại và luôn đổi mới để hoàn thiện.</li>
               <li>Trung: Trung thực và minh bạch trong các hoạt động, trung thành và theo đuổi mục tiêu tới cùng.</li>
            </ul>
            <h3>
               Giá trị
            </h3>
            </p>
            Vì tất cả những sản phẩm cũng như dịch vụ trên mà CBC Mall Việt Nam chúng tôi đem tới cho khách hàng, chúng
            tôi tin tưởng rằng, quý khách hàng sẽ thật sự hài lòng khi sử dụng sản phẩm và dịch vụ của CBC Mall tại Việt
            Nam.
            </p>
         </div> <br>
         <h2>Các Phương thức thanh toán</h2>
         <div>
            <img class="content_img" src="/project/images/introduce/thanh-toan-dien-tu-4.jpg" alt="">
         </div>
         <h2>Các phương thức giao hàng</h2>
         <div>
            <img class="content_img"
               src="/project/images/introduce/8-ung-dung-giao-hang-toan-quoc-nhanh-chong-pho-bien-tot-nhat-thumb-800x450.jpg"
               alt="">
         </div>
      </div>
   </div>
   <!-- footer -->
   <footer id="footer">
      <div class="footer-follow-us">
         <p class="footer-follow-us-content">Kết nối với chúng tôi trên mạng xã hội:</p>
         <div class="footer-follow-us-logo">
            <a href=""><i class="fa-brands fa-facebook">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-instagram">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-square-twitter">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-linkedin">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-google">&nbsp;</i></a>
         </div>
      </div>
      <div class="footer-content">
         <div class="footer-content-all">
            <p>CBCSHOP.VN</p>
            <p>GPDKKD: 0123456789 do sở KH & ĐT TP.HCM cấp ngày 7/11/2022.</p>
            <p>Địa chỉ: Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, TPHCM.</p>
            <p>Emall: info@cbcshop.com.vn.</p>
         </div>
         <div class="footer-content-all">
            <p>THÔNG TIN CỬA HÀNG</p>
            <p>
            <ul>
               <li><a href="">Giới thiệu cửa hàng</a></li>
               <li><a href="">Hệ thống cửa hàng</a></li>
               <li><a href="">Phương châm bán hàng</a></li>
               <li><a href="">Tuyển dụng</a></li>
            </ul>
            </p>
         </div>
         <div class="footer-content-all">
            <p>CHÍNH SÁCH CHUNG</p>
            <p>
            <ul>
               <li><a href="">Bảo trì - Bảo hành - Đổi trả</a></li>
               <li><a href="">Quy định giao hàng</a></li>
               <li><a href="">Điều khoản sử dụng</a></li>
               <li><a href="">Thỏa thuận người dùng</a></li>
            </ul>
            </p>
         </div>
         <div class="footer-content-all">
            <p>THẺ THÀNH VIÊN</p>
            <p>
            <ul>
               <li><a href="">Quyền lợi của Thành Viên</a></li>
               <li><a href="">Hỗ trợ thành viên</a></li>
               <li><a href="">Điều khoản sử dụng</a></li>
               <li><a href="">Thỏa thuận người dùng</a></li>
            </ul>
            </p>
         </div>
      </div>
      <div class="footer-copyright">
         <p>&copy;2022 - Công ty TNHH CBC</p>
      </div>
   </footer>
</body>

</html>