<!DOCTYPE html>
<html lang="vi">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/project/assets/memberkhuyenmai.css">
   <title>CBC Mall - Siêu Thị Nhật Bản</title>
   <link rel="stylesheet" href="/project/assets/fontawesome-free-6.2.0-web/css/all.min.css">
</head>

<body>
   <header id="header">
      <form class="search">
         <input class="input" type="text" placeholder="Biet ong Liem khong..">
         <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <div class="clr"></div>
      <div class="left">
         <p class="delivery"><i class="fa-solid fa-truck-fast"></i><i>&nbsp;</i> 0365112601</p>
      </div>
      <div class="lang1">
         <p>VN</p>
      </div>
      <div class="left vertical">
         <P>|<i>&nbsp;</i></P>
      </div>
      <div class="lang2">
         <p>JPN</p>
      </div>
      <div class="clr"></div>
      <div class="right">
         <p class="login"><i class="fa-solid fa-user"></i><i>&nbsp;</i><span><a href="/project/html/form.html"
                  target="_blank">Đăng nhập</a></span></p>
         <p class="shopping"><i class="fa-solid fa-bag-shopping"></i></p>
      </div>
      <div id="nav">
         <nav class="topnav">
            <a href="/project/html/home.html">TRANG CHỦ</a>
            <div class="dropdownmenu"><a href="">SẢN PHẨM</a>
               <div class="dropdownmenu-content-sp dropdownmenu-content">
                  <a href="/project/html/My pham/main/category.html">MỸ PHẨM</a>
                  <a href="/project/html/Thuc%20pham/main/category.html">THỰC PHẨM</a>
                  <a href="/project/html/Quan%20Ao/main/category.html">QUẦN ÁO</a>
                  <a href="/project/html/thiet%20bi%20gia%20dung/main/category.html">ĐỒ GIA DỤNG</a>
                  <a href="/project/html/Do%20choi/main/category.html">ĐỒ CHƠI</a>
                  <a href="/project/html/Khac/main/category.html">KHÁC</a>
               </div>
            </div>
            <div class="dropdownmenu"><a href="">THÀNH VIÊN</a>
               <div class="dropdownmenu-content-tv dropdownmenu-content">
                  <a href="/project/html/memberkhuyenmai.html" target="_blank">ƯU ĐÃI</a>
                  <a href="/project/html/regestermember.html" target="_blank">ĐĂNG KÝ</a>
               </div>
            </div>
            <div class="dropdownmenu"><a href="/project/html/event.html">KHUYẾN MÃI VÀ SỰ KIỆN</a>

            </div>
            <div class="dropdownmenu"><a href="">VỀ CHÚNG TÔI</a>
               <div class="dropdownmenu-content-us dropdownmenu-content">
                  <a href="/project/html/introduce.html " target="_blank">GIỚI THIỆU</a>
                  <a href="/project/html/Tuyen dung/TuyenDung.html">TUYỂN DỤNG</a>
               </div>
            </div>
            <a href="/project/html/contactus.html" target="_blank">LIÊN HỆ</a>
            <a href="/project/html/location.html" target="_blank">HỆ THỐNG CỬA HÀNG</a>
         </nav>
         <img id="logo" src="/project/images/logo/logo dqb-02.png" alt="logo" width="70px">
      </div>
   </header>
   <div class="member">
      <h1>Ưu đãi cho thành viên</h1>
      <div class="member-content">
         <p>Thẻ Thành viên thân thiết CBC giúp khách hàng nhận được nhiều ưu đãi như: Giảm từ 2 – 10 % khi mua hàng,
            nhận quà tặng hoặc giảm giá trong ngày sinh nhật của chủ thẻ, nhận chế độ chăm sóc đặc biệt và nhận được
            nhiều tiện ích kèm theo…</p>
         <p>Khi làm Thẻ Thành Viên lần đầu, khách hàng sẽ nhận ngay phiếu giảm giá 5% cho lần mua sắm hàng gia dụng tiếp
            theo. Đặc biệt, khách hàng sẽ nhận được ưu đãi tương ứng với từng loại thẻ khác nhau:</p>
      </div>
      <div class="table">
         <table>
            <tr>
               <th>ƯU ĐÃI CHO THÀNH VIÊN THÂN THIẾT</th>
               <th>THẺ STAR</th>
               <th>THẺ GOLD</th>
               <th>THẺ DIAMOND</th>
            </tr>
            <tr>
               <td>Mua hàng và tham gia CTKM với giá ưu đãi dành riêng cho Thành viên thân thiết</td>
               <td>Có</td>
               <td>Có</td>
               <td>Có</td>
            </tr>
            <tr>
               <td>Nhận ưu đãi đặc biệt vào ngày sinh nhật của chủ thẻ</td>
               <td>Không</td>
               <td>Có</td>
               <td>Có</td>
            </tr>
            <tr>
               <td>Nhận các dịch vụ chăm sóc đặc biệt (Thanh toán, giao nhận, chăm sóc thành viên…)</td>
               <td>Không</td>
               <td>Có</td>
               <td>Có</td>
            </tr>
            <tr>
               <td>Giảm 5% quần áo, 3% đồ chơi, 2% Vi Tính, mỹ phẩm.</td>
               <td>Không</td>
               <td>Có</td>
               <td>-</td>
            </tr>
            <tr>
               <td>Giảm 7% quần áo, 5% đồ chơi, 4% Vi Tính, mỹ phẩm.</td>
               <td>Không</td>
               <td>-</td>
               <td>Có</td>
            </tr>
            <tr>
               <td>Nhận các ưu đãi Vip khác từ các đối tác liên kết ngoài ngành hàng điện máy</td>
               <td>Không</td>
               <td>Không</td>
               <td>Có</td>
            </tr>
            <tr>
               <td>Nhận các ưu đãi Vip khác từ các đối tác liên kết ngoài ngành hàng điện máy</td>
               <td>Không</td>
               <td>Không</td>
               <td>Có</td>
            </tr>
            <tr>
               <td>Kết nối đường dây nóng 24/24h để phục vụ yêu cầu của khách hàng</td>
               <td>Không</td>
               <td>Không</td>
               <td>Có</td>
            </tr>
         </table>
         <div class="note-member">
            <h4>Lưu ý:</h4>
            <p>Không áp động đối với các sản phẩm khuyến mãi Báo, Tờ Rơi, Online hoặc các chương trình khuyến mãi khác.
            </p>
            <p>Không giới hạn số lượng sản phẩm được hưởng ưu đãi</p>
            <p>Ưu đãi không áp dụng đối với phí dịch vụ (Phí vận chuyển, ...)</p>
            <p>Ưu đãi không có giá trị quy đổi thành tiền, sản phẩm hoặc dịch vụ khác</p>
            <p>CBC có toàn quyền thay đổi mức ưu đãi và hình thức ưu đãi mà không cần thông báo trước.</p>
         </div>
         <div class="phone">
            <p> Mọi thắc mắc về quyền lợi của Thành viên thân thiết Quý khách vui lòng liên hệ <span
                  class="red">Hotline:</span> 19002628</p>
         </div>
      </div>
   </div>
   <footer id="footer">
      <div class="footer-follow-us">
         <p class="footer-follow-us-content">Kết nối với chúng tôi trên mạng xã hội:</p>
         <div class="footer-follow-us-logo">
            <a href=""><i class="fa-brands fa-facebook">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-instagram">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-square-twitter">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-linkedin">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-google">&nbsp;</i></a>
         </div>
      </div>
      <div class="footer-content">
         <div class="footer-content-all">
            <p>CBCSHOP.VN</p>
            <p>GPDKKD: 0123456789 do sở KH & ĐT TP.HCM cấp ngày 7/11/2022.</p>
            <p>Địa chỉ: Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, TPHCM.</p>
            <p>Email: info@cbcshop.com.vn.</p>
         </div>
         <div class="footer-content-all">
            <p>THÔNG TIN CỬA HÀNG</p>
            <p>
            <ul>
               <li><a href="">Giới thiệu cửa hàng</a></li>
               <li><a href="">Hệ thống cửa hàng</a></li>
               <li><a href="">Phương châm bán hàng</a></li>
               <li><a href="">Tuyển dụng</a></li>
            </ul>
            </p>
         </div>
         <div class="footer-content-all">
            <p>CHÍNH SÁCH CHUNG</p>
            <p>
            <ul>
               <li><a href="">Bảo trì - Bảo hành - Đổi trả</a></li>
               <li><a href="">Quy định giao hàng</a></li>
               <li><a href="">Điều khoản sử dụng</a></li>
               <li><a href="">Thỏa thuận người dùng</a></li>
            </ul>
            </p>
         </div>
         <div class="footer-content-all">
            <p>THẺ THÀNH VIÊN</p>
            <p>
            <ul>
               <li><a href="">Quyền lợi của Thành Viên</a></li>
               <li><a href="">Hỗ trợ thành viên</a></li>
               <li><a href="">Điều khoản sử dụng</a></li>
               <li><a href="">Thỏa thuận người dùng</a></li>
            </ul>
            </p>
         </div>
      </div>
      <div class="footer-copyright">
         <p>&copy;2022 - Công ty TNHH CBC</p>
      </div>
   </footer>
</body>

</html>