{% extends 'html/base.html' %} {% load static %} {% block sstatistics %}
<head>
  <link rel="stylesheet" href="{% static 'assets/sstatistics.css' %}" />
</head>
<body>
  <div class="content">
    <div class="box">
      <div class="container summary">
        <h2>Thống kê số lượng đã bán theo tháng</h2>
        <br />
        <table>
          <thead>
            <tr>
              <th>Tháng</th>
              <th>Tổng khách hàng</th>
              <th>Tổng số lượng sản phẩm</th>
              <th>Tổng doanh thu</th>
            </tr>
          </thead>
          <tbody>
            {% for month, stats in monthly_stats %}
            <tr>
              <td><a href="{% url 'sstatistics' %}?month={{ month }}">{{ month }}</a></td>
              <td>{{ stats.total_orders }}</td>
              <td>{{ stats.total_items }}</td>
              <td>{{ stats.total_amount }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="box">
      <div class="container order-details">
        <h2>Thống kê chi tiết</h2>
        <br />
        <br />
        {% for order in orders %}
        <div class="order">
          <h3>Thứ tự đơn hàng: {{ order.order_id }}</h3>
          <br />
          <p>
            Tên Tài Khoản: {{ order.customer_username }}
          </p>
          <p>Tên khách hàng: {{ order.name }}</p>
          <p>Số điện thoại: {{ order.mobile }}</p>
          <p>Địa chỉ: {{ order.address }}</p>
          <p>Tỉnh/Thành phố: {{ order.city }}</p>
          <p>Ngày mua: {{ order.date_order }}</p>
          <h3>Sản phẩm:</h3>
          <ul>
            {% for item in order.items %}
            <li>
              <img
                src="{{ item.product_image }}"
                alt="{{ item.product_name }}"
                style="width: 50px; height: 50px"
              />
              <span>{{ item.product_name }}</span>
              <span>Số lượng: {{ item.quantity }}</span>
              <span>Giá: {{ item.price }}</span>
              <span>Tổng tiền: {{ item.total_price }}</span>
            </li>
            {% endfor %}
          </ul>
          <h3>Tổng tiền thanh toán: {{ order.total_amount }}</h3>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

{% endblock sstatistics %}
