<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBC Mall - Siêu Thị Nhật Bản</title>
    <link rel="stylesheet" href="/project/assets/CSAN.css">
    <link rel="stylesheet" href="/project/assets/fontawesome-free-6.2.0-web/css/all.css">
    <script>
      function myfunction(){
         location.href = "/project/html/Tuyen%20Dung/DangKy.html";
      }
    </script>
</head>
<body>
   <header id="header">
      <form class="search">
         <input class="input" type="text" placeholder="Biet ong Liem khong..">
         <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <div class="clr"></div>
      <div class="left">
         <p class="delivery"><i class="fa-solid fa-truck-fast"></i><i>&nbsp;</i> 0365112601</p>
      </div>
      <div class="lang1">
         <p>VN</p>
      </div>
      <div class="left vertical">
         <P>|<i>&nbsp;</i></P>
      </div>
      <div class="lang2">
         <p>JPN</p>
      </div>
      <div class="clr"></div>
      <div class="right">
         <p class="login"><i class="fa-solid fa-user"></i><i>&nbsp;</i><span><a href="/project/html/form.html"
                  target="_blank">Đăng nhập</a></span></p>
         <p class="shopping"><i class="fa-solid fa-bag-shopping"></i></p>
      </div>
      <div id="nav">
         <nav class="topnav">
            <a href="/project/html/home.html">TRANG CHỦ</a>
            <div class="dropdownmenu"><a href="">SẢN PHẨM</a>
               <div class="dropdownmenu-content-sp dropdownmenu-content">
                  <a href="/project/html/My pham/main/category.html">MỸ PHẨM</a>
                  <a href="/project/html/Thuc%20pham/main/category.html">THỰC PHẨM</a>
                  <a href="/project/html/Quan%20Ao/main/category.html">QUẦN ÁO</a>
                  <a href="/project/html/thiet%20bi%20gia%20dung/main/category.html">ĐỒ GIA DỤNG</a>
                  <a href="/project/html/Do%20choi/main/category.html">ĐỒ CHƠI</a>
                  <a href="/project/html/Khac/main/category.html">KHÁC</a>
               </div>
            </div>
            <div class="dropdownmenu"><a href="">THÀNH VIÊN</a>
               <div class="dropdownmenu-content-tv dropdownmenu-content">
                  <a href="/project/html/memberkhuyenmai.html" target="_blank">ƯU ĐÃI</a>
                  <a href="/project/html/regestermember.html" target="_blank">ĐĂNG KÝ</a>
               </div>
            </div>
            <div class="dropdownmenu"><a href="/project/html/event.html">KHUYẾN MÃI VÀ SỰ KIỆN</a>

            </div>
            <div class="dropdownmenu"><a href="">VỀ CHÚNG TÔI</a>
               <div class="dropdownmenu-content-us dropdownmenu-content">
                  <a href="/project/html/introduce.html " target="_blank">GIỚI THIỆU</a>
                  <a href="/project/html/Tuyen dung/TuyenDung.html">TUYỂN DỤNG</a>
               </div>
            </div>
            <a href="/project/html/contactus.html" target="_blank">LIÊN HỆ</a>
            <a href="/project/html/location.html" target="_blank">HỆ THỐNG CỬA HÀNG</a>
         </nav>
         <img id="logo" src="/project/images/logo/logo dqb-02.png" alt="logo" width="70px">
      </div>
   </header>
    <!-- content -->
    <div id="content">
        <div>
            <h2>Business Development Intern</h2> <br>
            
            <h3>Mô tả công việc:</h3>
            <ul>
               <li>Consult with potential customers, who are online business shops, specialized service providers ... wishing to use logistic services in Hanoi and Da Nang.</li>
               <li>Maintain and develop customer relationships.            </li>
               <li>Acquire ideas and needs of customers, then work closely with related departments to improve service quality, bring positive experiences and satisfaction to customers.</li>
               <li>Develop, implement and evaluate new business strategies in phases.</li>
               <li>Report, update statistics about customers and jobs.</li>
               <li>Other tasks as assigned by management.</li>
            </ul>
            <h3>Yêu cầu công việc:</h3>
            <ul>
                <li>Fresher or have from 6 months experience, candidate with sales experience is highly preferred.</li>
                <li>Sales driven</li>
                <li>Good communication, negotiation and problem-solving skills.</li>
                <li>Willing to work in a self-motivated and challenging environment</li>
            </ul>
        </div>
        <div class="DangKy">
            <button id="button" onclick="myfunction()">
                  Đăng Ký Ứng Tuyển
            </button>
        </div>
    </div>
    <!-- footer -->
   <footer id="footer">
      <div class="footer-follow-us">
         <p class="footer-follow-us-content">Kết nối với chúng tôi trên mạng xã hội:</p>
         <div class="footer-follow-us-logo">
            <a href=""><i class="fa-brands fa-facebook">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-instagram">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-square-twitter">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-linkedin">&nbsp;</i></a>
            <a href=""><i class="fa-brands fa-google">&nbsp;</i></a>
         </div>
      </div>
      <div class="footer-content">
         <div class="footer-content-all">
            <p>CBCSHOP.VN</p>
            <p>GPDKKD: 0123456789 do sở KH & ĐT TP.HCM cấp ngày 7/11/2022.</p>
            <p>Địa chỉ: Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, TPHCM.</p>
            <p>Emall: info@cbcshop.com.vn.</p>
         </div>
         <div class="footer-content-all">
            <p>THÔNG TIN CỬA HÀNG</p>
            <p>
               <ul>
                  <li><a href="">Giới thiệu cửa hàng</a></li>
                  <li><a href="">Hệ thống cửa hàng</a></li>
                  <li><a href="">Phương châm bán hàng</a></li>
                  <li><a href="">Tuyển dụng</a></li>
               </ul>
            </p>
         </div>
         <div class="footer-content-all">
            <p>CHÍNH SÁCH CHUNG</p>
            <p>
               <ul>
                  <li><a href="">Bảo trì - Bảo hành - Đổi trả</a></li>
                  <li><a href="">Quy định giao hàng</a></li>
                  <li><a href="">Điều khoản sử dụng</a></li>
                  <li><a href="">Thỏa thuận người dùng</a></li>
               </ul>
            </p>
         </div>
         <div class="footer-content-all">
            <p>THẺ THÀNH VIÊN</p>
            <p>
               <ul>
                  <li><a href="">Quyền lợi của Thành Viên</a></li>
                  <li><a href="">Hỗ trợ thành viên</a></li>
                  <li><a href="">Điều khoản sử dụng</a></li>
                  <li><a href="">Thỏa thuận người dùng</a></li>
               </ul>
            </p>
         </div>
      </div>
      <div class="footer-copyright">
         <p>&copy;2022 - Công ty TNHH CBC</p>
      </div>
   </footer>
</body>
</html>